################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hangman/v16/Browse.VC.opendb
/hangman-game/.vs/hangman-game/v16/Browse.VC.opendb
